@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
